body {
  font-family: sans-serif;
  line-height: 1.5;
  background-image: url("/background.webp");
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
  margin: 0;
  padding: 0;
}

h2 {
  color: rgb(0, 255, 0);
  margin-left: 50px;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}
