body {
  font-family: sans-serif;
  line-height: 1.5;
  background-image: url("/background.webp");
}
* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
  margin: 0;
  padding: 0;
}

h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(2, 2, 2);
  margin-left: 50px;
  text-align: center;
  font-size: 40px;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}
